<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.lee.dao.CollocationRatioMapper" >
  <resultMap id="BaseResultMap" type="com.yuan.lee.entity.CollocationRatio" >
    <id column="colloratioid" property="colloratioid" jdbcType="CHAR" />
    <result column="collorationame" property="collorationame" jdbcType="VARCHAR" />
    <result column="kindnum" property="kindnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    colloratioid, collorationame, kindnum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from collocationratio
    where colloratioid = #{colloratioid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from collocationratio
    where colloratioid = #{colloratioid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.yuan.lee.entity.CollocationRatio" >
    insert into collocationratio (colloratioid, collorationame, kindnum
      )
    values (#{colloratioid,jdbcType=CHAR}, #{collorationame,jdbcType=VARCHAR}, #{kindnum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuan.lee.entity.CollocationRatio" >
    insert into collocationratio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="colloratioid != null" >
        colloratioid,
      </if>
      <if test="collorationame != null" >
        collorationame,
      </if>
      <if test="kindnum != null" >
        kindnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="colloratioid != null" >
        #{colloratioid,jdbcType=CHAR},
      </if>
      <if test="collorationame != null" >
        #{collorationame,jdbcType=VARCHAR},
      </if>
      <if test="kindnum != null" >
        #{kindnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuan.lee.entity.CollocationRatio" >
    update collocationratio
    <set >
      <if test="collorationame != null" >
        collorationame = #{collorationame,jdbcType=VARCHAR},
      </if>
      <if test="kindnum != null" >
        kindnum = #{kindnum,jdbcType=VARCHAR},
      </if>
    </set>
    where colloratioid = #{colloratioid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuan.lee.entity.CollocationRatio" >
    update collocationratio
    set collorationame = #{collorationame,jdbcType=VARCHAR},
      kindnum = #{kindnum,jdbcType=VARCHAR}
    where colloratioid = #{colloratioid,jdbcType=CHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from collocationratio
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
  </select>
  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from collocationratio
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
    <if test="pageSize != null and startNum != null" >
      limit #{pageSize} offset #{startNum}
    </if>
  </select>
  <select id="findByParamsCount" resultType="int" parameterType="map" >
    select count(*) from collocationratio
  </select>
</mapper>