<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.lee.dao.CrossNodeMapper" >
  <resultMap id="BaseResultMap" type="com.yuan.lee.entity.CrossNode" >
    <id column="cnodeid" property="cnodeid" jdbcType="VARCHAR" />
    <result column="crossno" property="crossno" jdbcType="VARCHAR" />
    <result column="crossname" property="crossname" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cnodeid, crossno, crossname, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from crossnode
    where cnodeid = #{cnodeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from crossnode
    where cnodeid = #{cnodeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuan.lee.entity.CrossNode" >
    insert into crossnode (cnodeid, crossno, crossname, 
      note)
    values (#{cnodeid,jdbcType=VARCHAR}, #{crossno,jdbcType=VARCHAR}, #{crossname,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuan.lee.entity.CrossNode" >
    insert into crossnode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cnodeid != null" >
        cnodeid,
      </if>
      <if test="crossno != null" >
        crossno,
      </if>
      <if test="crossname != null" >
        crossname,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cnodeid != null" >
        #{cnodeid,jdbcType=VARCHAR},
      </if>
      <if test="crossno != null" >
        #{crossno,jdbcType=VARCHAR},
      </if>
      <if test="crossname != null" >
        #{crossname,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuan.lee.entity.CrossNode" >
    update crossnode
    <set >
      <if test="crossno != null" >
        crossno = #{crossno,jdbcType=VARCHAR},
      </if>
      <if test="crossname != null" >
        crossname = #{crossname,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where cnodeid = #{cnodeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuan.lee.entity.CrossNode" >
    update crossnode
    set crossno = #{crossno,jdbcType=VARCHAR},
      crossname = #{crossname,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where cnodeid = #{cnodeid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from crossnode
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
  </select>
  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from crossnode
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
    <if test="pageSize != null and startNum != null" >
      limit #{pageSize} offset #{startNum}
    </if>
  </select>
  <select id="findByParamsCount" resultType="int" parameterType="map" >
    select count(*) from crossnode
  </select>
</mapper>