<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.lee.dao.EmerTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yuan.lee.entity.EmerType" >
    <id column="emertypeid" property="emertypeid" jdbcType="VARCHAR" />
    <result column="emertypename" property="emertypename" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    emertypeid, emertypename, level, describe, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from emertype
    where emertypeid = #{emertypeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from emertype
    where emertypeid = #{emertypeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuan.lee.entity.EmerType" >
    insert into emertype (emertypeid, emertypename, level, 
      describe, note)
    values (#{emertypeid,jdbcType=VARCHAR}, #{emertypename,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuan.lee.entity.EmerType" >
    insert into emertype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="emertypeid != null" >
        emertypeid,
      </if>
      <if test="emertypename != null" >
        emertypename,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="emertypeid != null" >
        #{emertypeid,jdbcType=VARCHAR},
      </if>
      <if test="emertypename != null" >
        #{emertypename,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuan.lee.entity.EmerType" >
    update emertype
    <set >
      <if test="emertypename != null" >
        emertypename = #{emertypename,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where emertypeid = #{emertypeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuan.lee.entity.EmerType" >
    update emertype
    set emertypename = #{emertypename,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where emertypeid = #{emertypeid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from emertype
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
  </select>
  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from emertype
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
    <if test="pageSize != null and startNum != null" >
      limit #{pageSize} offset #{startNum}
    </if>
  </select>
  <select id="findByParamsCount" resultType="int" parameterType="map" >
    select count(*) from emertype
  </select>
</mapper>