<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.lee.dao.VirtualNodeMapper" >
  <resultMap id="BaseResultMap" type="com.yuan.lee.entity.VirtualNode" >
    <id column="vnodeid" property="vnodeid" jdbcType="VARCHAR" />
    <result column="virtualno" property="virtualno" jdbcType="VARCHAR" />
    <result column="virtualname" property="virtualname" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="Time" property="time" jdbcType="DATE" />
    <result column="transid" property="transid" jdbcType="VARCHAR" />
    <result column="edgeid" property="edgeid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    vnodeid, virtualno, virtualname, note, Time, transid, edgeid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from virtualnode
    where vnodeid = #{vnodeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from virtualnode
    where vnodeid = #{vnodeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuan.lee.entity.VirtualNode" >
    insert into virtualnode (vnodeid, virtualno, virtualname, 
      note, Time, transid, edgeid
      )
    values (#{vnodeid,jdbcType=VARCHAR}, #{virtualno,jdbcType=VARCHAR}, #{virtualname,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{transid,jdbcType=VARCHAR}, #{edgeid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuan.lee.entity.VirtualNode" >
    insert into virtualnode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vnodeid != null" >
        vnodeid,
      </if>
      <if test="virtualno != null" >
        virtualno,
      </if>
      <if test="virtualname != null" >
        virtualname,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="time != null" >
        Time,
      </if>
      <if test="transid != null" >
        transid,
      </if>
      <if test="edgeid != null" >
        edgeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vnodeid != null" >
        #{vnodeid,jdbcType=VARCHAR},
      </if>
      <if test="virtualno != null" >
        #{virtualno,jdbcType=VARCHAR},
      </if>
      <if test="virtualname != null" >
        #{virtualname,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="transid != null" >
        #{transid,jdbcType=VARCHAR},
      </if>
      <if test="edgeid != null" >
        #{edgeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuan.lee.entity.VirtualNode" >
    update virtualnode
    <set >
      <if test="virtualno != null" >
        virtualno = #{virtualno,jdbcType=VARCHAR},
      </if>
      <if test="virtualname != null" >
        virtualname = #{virtualname,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        Time = #{time,jdbcType=DATE},
      </if>
      <if test="transid != null" >
        transid = #{transid,jdbcType=VARCHAR},
      </if>
      <if test="edgeid != null" >
        edgeid = #{edgeid,jdbcType=VARCHAR},
      </if>
    </set>
    where vnodeid = #{vnodeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuan.lee.entity.VirtualNode" >
    update virtualnode
    set virtualno = #{virtualno,jdbcType=VARCHAR},
      virtualname = #{virtualname,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      Time = #{time,jdbcType=DATE},
      transid = #{transid,jdbcType=VARCHAR},
      edgeid = #{edgeid,jdbcType=VARCHAR}
    where vnodeid = #{vnodeid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from virtualnode
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
  </select>
  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from virtualnode
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
    <if test="pageSize != null and startNum != null" >
      limit #{pageSize} offset #{startNum}
    </if>
  </select>
  <select id="findByParamsCount" resultType="int" parameterType="map" >
    select count(*) from virtualnode
  </select>
</mapper>